{
  "presets": [
    "@babel/preset-env",
  ],
  "plugins": [
    "@babel/transform-runtime"
  ],
  "env": {
    "test": {
      "presets": [
        [
          "@babel/preset-env",
        ]
      ],
      "plugins": [
        "istanbul"
      ]
    },
    "es": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "modules": false
          }
        ]
      ]
    }
  }
}
