<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="stylesheet" href="dist/app.bundle.css">
  {{#if_eq addHeaderFooter true}}
  <link href="https://future.rei.com/static/global/head/rei-cedar.min.css" rel="stylesheet">
  <link href="https://future.rei.com/static/legacy-nav/main.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400|Roboto:400,700" rel="stylesheet">
  {{/if_eq}}
  <title>{{ name }}</title>
</head>

<body>
  <div id="app"></div>
  <script src="dist/app.bundle.js"></script>
</body>

</html>
